numpy==1.23.5
h5py==3.8.0
scipy==1.10.1

Pillow==9.4.0
Flask==2.0.2
gratheon-log-lib @ https://github.com/Gratheon/log-lib-py/archive/03b30ba.zip

opencv-python-headless==4.7.0.72

sentry-sdk==1.27.1

keras==2.11.0
tensorflow==2.11.0
tensorflow-io==0.27.0
